body {
	margin: 0;
	font-family: 'Fira code';
	font-size: 26px;

}

table {
	margin: 20px;
	table-layout: fixed;
	width: 0px;
}

td {
	width: 45px;
	border: 0.5px solid black;
	text-align: center;
}

.wrapper {
	margin: 40px;
}

.container__machine-strip {
	width: 80%;
	overflow-x: scroll;
	height: 100px;
}

.td-invisible {
	border: 0.5px solid transparent;
}

