body {
	margin: 0;
	font-family: 'Fira code';
	font-size: 26px;

}

table {
	margin: 20px;
	table-layout: fixed;
	width: 0px;
}

td {
	width: 45px;
	height: 30px;
	border: 0.5px solid black;
	text-align: center;
}

.wrapper {
	margin: 40px;
}

.container__machine-strip {
	width: 80%;
	height: 130px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.td-invs {
	border: 0.5px solid transparent;
}

.control-panel {
	border-collapse: collapse;
	border: 0.5px solid black;
}
